.Footer {
    background-color: rgba(55, 130, 255, 255);
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: 20px;
  }
  
  .Title {
    font-size: 1.5rem;
    margin: 5px 0;
    font-weight: bold;
  }
  
  .Paragraph {
    font-size: 1rem;
    margin: 5px 0;
  }
  