/* Styles for the Group Detail page */
.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.TextBox {
    display: inline-block;
    max-width: 80%;
    background-color: lightblue;
    border: 10px solid rgba(55, 130, 255, 255);
    box-shadow: 0 0 0 1px #000, 0 0 0 1px inset #000;
    padding: 20px;
    box-sizing: border-box;
}

.Description {
    margin-bottom: 10px;
}

.GroupSize {
    margin-top: 10px;
}

.TaskLink {
    margin-top: 10px;
}

/* Styles for the divider line */
.Divider {
    margin: 20px 0;
    border-bottom: 1px solid #000;
}

.ButtonsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.Button {
    margin-right: 10px;
}

/* Media query for small screens */
@media (max-width: 767px) {
    .Container {
        padding: 0;
    }

    .TextBox {
        flex: 1;
        overflow-x: auto;
        max-width: 100%;
        padding: 10px;
    }

}
