.NavBar {
    background-color: lightblue;
    border: 1px solid #09090c;
    height: 120px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.NavLink {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    margin: 0;
    display: inline-block;
}

.NavLink:hover {
    text-decoration: underline;
}

.NavLinkActive {
    color: rgb(0, 157, 255);
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: underline;
    padding: 10px;
    margin: 0;
    display: inline-block;
}

@media (max-width: 767px) {
    .NavBar {
        height: auto;
    }
}
