.Container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.TextBox {
  flex: 1;
  max-width: 80%;
  background-color: lightblue;
  border: 10px solid rgba(55, 130, 255, 255);
  box-shadow: 0 0 0 1px #000, 0 0 0 1px inset #000;
  padding: 20px;
  box-sizing: border-box;
}

.HeaderRow, .TaskItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #000;  /* Increased thickness and changed color to black */
  padding: 10px 0;
}

.HeaderRow > div, .TaskItem > div {
  flex: 1;
  text-align: center;
}

.HeaderRow > div {
  font-weight: bold;
}

.CreateButton {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.CreateButton .btn {
  text-decoration: none; /* Ensure no underline */
}

.CreateButton .btn:hover {
  text-decoration: none; /* Remove underline on hover */
}

@media (max-width: 767px) {
  .TextBox {
    max-width: 100%;
  }
}
